@import 'variables';

.strength-bar-wrap {
  display: flex;
  justify-content: stretch;
  margin-left: -1px;
  margin-right: -1px;

  .strength-bar-elem {
    display: block;
    flex: auto;
    height: 1em;
    background: $gray-200;
    margin: 0 1px;

    &.active {
      background: $gray-500;
    }
  }

  &.strength1 .strength-bar-elem.active {
    background: #ff0000;
  }
  &.strength2 .strength-bar-elem.active {
    background: #ff9900;
  }
  &.strength3 .strength-bar-elem.active {
    background: #ffff00;
  }
  &.strength4 .strength-bar-elem.active {
    background: #99ff00;
  }
  &.strength5 .strength-bar-elem.active {
    background: #00ff00;
  }
}
