app-tabs(
  *ngIf="tabSettings.buttons.length",
  [settings]="tabSettings",
  [(selected)]="activeTabId"
)
.container
  app-loading.loading-bar(*ngIf="isLoading | async") 
  form(*ngIf="form", [formGroup]="form") 
    .row.my-2(*ngIf="billingLangs.length > 0")
      .col-md-11.form-group(*ngFor="let lang of billingLangs; let i = index")
        textarea(*ngIf=" activeTabId === lang.language ", [formControl]="form.get('langs').controls[i]", rows="5")
