@import "variables";

.password-checks {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: stretch;
}

.password-check {
  min-width: 50%;

  .icon {
    margin-right: 0.5rem;
    color: $gray-500;
  }
  &.checked {
    .icon {
      color: $success;
    }
  }
}
