app-loading.loading-bar(*ngIf="isLoading | async")
app-customer-form(#form, [guest]="customer")
.control-buttons
    button.btn.btn-secondary((click)="save()", [disabled]="!form.form?.valid", translate) BackEnd_WikiLanguage.generic_Save
    button.btn.btn-secondary((click)="cancel()", translate) BackEnd_WikiLanguage.generic_Cancel
