app-pricing-settings(
  *ngIf="category",
  #settings,
  [source]="{ id: category.id, type: 'category' }",
  [canSaveForAll]="canSaveForAll",
  [extraActionsTemplate]="extraActions",
  (saved)="saved.emit(category)"
)
  ng-template(#extraActions, let-period="period", let-hasChanges="hasChanges")
    .button-wrap(
      [ngbTooltip]="hasChanges ? ('BackEnd_WikiLanguage.EMA_ChangesHaveToBeSavedMessage' | translate) : undefined",
      placement="top-right"
    )
      button.btn.btn-secondary(
        (click)="copyTo(period).catch()",
        [disabled]="hasChanges",
        translate
      )
        | BackEnd_WikiLanguage.generic_copyTo
    .button-wrap(
      [ngbTooltip]="hasChanges ? ('BackEnd_WikiLanguage.EMA_ChangesHaveToBeSavedMessage' | translate) : undefined",
      placement="top-right"
    )
      button.btn.btn-secondary(
        (click)="openTestingPriceConsole(period)",
        [disabled]="hasChanges",
        translate
      )
        | BackEnd_WikiLanguage.EMA_SendTestEmailNow
