.form-group.sort-order-control
    label(translate) BackEnd_WikiLanguage.generic_SortOrder
    input([formControl]="sortOrderControl")
p
    button.btn.btn-secondary((click)="saveSeparator()", translate) BackEnd_WikiLanguage.generic_Save