app-tabs(
  *ngIf="tabSettings.buttons.length",
  [settings]="tabSettings",
  [(selected)]="activeTabId"
)
.content 
  app-loading.loading-bar(*ngIf="isLoading | async")
  app-add-guest-payments-cash-register(*ngIf="activeTabId === 'cash_register'")
  app-add-guest-payments-payments(*ngIf="activeTabId === 'payments'")