app-tabs(
  *ngIf="tabSettings.buttons.length",
  [settings]="tabSettings",
  [(selected)]="activeTabId"
)
.content 
  app-loading.loading-bar(*ngIf="isLoading | async")
  app-enquiry-poop-settings-general(*ngIf="activeTabId === 'general'")
  