form.grid-area([formGroup]="form")
  .form-group
    label(translate) {{label}}
    input(formControlName="title")
  .row
    .col
      label(translate) BackEnd_WikiLanguage.EG_Description
      quill-editor.editor(formControlName="description", [modules]="editorConfig", [placeholder]="'BackEnd_WikiLanguage.generic_InsertTextHere' | translate")
    .col
      label(translate) BackEnd_WikiLanguage.egl_priceWidgetLabel
      quill-editor.editor(formControlName="priceInfo", [modules]="editorConfig", [placeholder]="'BackEnd_WikiLanguage.generic_InsertTextHere' | translate")
