@import "variables";

img.modal-banner {
  width: 100%;
  height: auto;
}

h1 {
  font-weight: normal;
  margin: 2rem 0;
  text-align: center;
}

#contract {
  margin: 2rem 0;
  padding: 2rem 0;
  border-top: 1px solid $border-light;
}

.newsletter-wrapper {
  margin: 20px 0;
}

.loading-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 50px 0;
}
