<app-loading class="overlay" *ngIf="isLoading | async"></app-loading>
<form
  class="change-password"
  [formGroup]="form"
  (keyup)="onKeyUp($event)"
>
  <main>
    <app-message text="BackEnd_WikiLanguage.PW_LogoutWarning"></app-message>
    <div class="form-group">
      <label for="change_password_username">{{ 'BackEnd_WikiLanguage.PW_UserName' | translate }}</label>
      <input
        id="change_password_username"
        class="form-control"
        formControlName="username"
        type="text"
        autocomplete="username"
        placeholder="{{ 'BackEnd_WikiLanguage.PW_UserName' | translate }}"
      >
    </div>
    <div class="form-group">
      <label for="change_password_old">{{ 'BackEnd_WikiLanguage.PW_OldPassword' | translate }}</label>
      <input
        id="change_password_old"
        class="form-control"
        appPasswordInput
        #oldPasswordInput=appPasswordInput
        formControlName="oldPassword"
        type="password"
        autocomplete="current-password"
        placeholder="{{ 'BackEnd_WikiLanguage.PW_OldPassword' | translate }}"
      >
      <app-password-visibility-toggle [passwordInput]="oldPasswordInput"></app-password-visibility-toggle>
    </div>
    <div class="form-group">
      <label for="change_password_new">{{ 'BackEnd_WikiLanguage.PW_NewPassword' | translate }}</label>
      <input
        id="change_password_new"
        class="form-control"
        appPasswordInput
        #newPasswordInput=appPasswordInput
        formControlName="newPassword"
        type="password"
        autocomplete="new-password"
        placeholder="{{ 'BackEnd_WikiLanguage.PW_NewPassword' | translate }}"
      >
      <app-password-visibility-toggle [passwordInput]="newPasswordInput"></app-password-visibility-toggle>
    </div>
    <div class="form-group">
      <label for="change_password_confirm">{{ 'BackEnd_WikiLanguage.PW_ConfirmPassword' | translate }}</label>
      <input
        id="change_password_confirm"
        class="form-control"
        appPasswordInput
        #confirmPasswordInput=appPasswordInput
        formControlName="confirmPassword"
        type="password"
        autocomplete="new-password"
        placeholder="{{ 'BackEnd_WikiLanguage.PW_ConfirmPassword' | translate }}"
      >
      <app-password-visibility-toggle [passwordInput]="confirmPasswordInput"></app-password-visibility-toggle>
    </div>
    <app-password-strength-bar
      [password]="newPassword"
    ></app-password-strength-bar>
    <app-password-checks
      [errors]="newPasswordErrors"
    ></app-password-checks>
  </main>
  <app-message
    *ngIf="message"
    [text]="message.text"
    [type]="message.type"
  ></app-message>
</form>
