.form-group(*ngIf="control")
    select([formControl]="control")
        option([value]="null") ...
        option(*ngFor="let period of periods", [value]="period.id")
            | {{specificSeasonPeriodsId && specificSeasonPeriodsId.includes(period.id) ? '*' : null}}
            | {{period.fromDate | ebDate:false}} - {{period.untilDate | ebDate:false}}, {{period.name}} 