.directConnectModal {
	height: 398px;
	background-color: #e9f5fb;
}
.left-box {
	margin-top: 4.5em;
	margin-left: 2.5em;
	margin-bottom: 1em;
	width: 50%;
	display: flex;
	flex-direction: column;
}
.header {
	font-size: 25px;
	color: #2f3254;
	margin-bottom: .5em;
}
.paragraph {
	font-size: 16px;
	line-height: 1.31;
	color: #203257;
	margin-bottom: 1.2em;
}
.firework {
	width: 64px;
	height: 61px;
	position:absolute;
	top: 0px;
	left: 0px;
}
.vector {
	width: 253px;
	height: 177px;
	position: absolute;
	right: 5px;
	top: 190px;
	z-index: 10;
}
.typing {
	width: 157px;
	height: 160px;
	position: absolute;
	top: 89px;
	right: 160px;
	z-index: 5;
}
.suitcase {
	width: 187px;
	height: 134px;
	position: absolute;
	top: 53px;
	right: 0px;
}
.btn-green {
	background-color: #3ad269;
	width: fit-content;
	height: 45px;
	padding-left:15px;
	padding-right:15px;
	border: none;
	border-radius: 6px;
	color: rgba(255,255,255,1.0);
	font-size: 16.0px;
	outline: none;
}
.spanButtonContainer{
	display: flex;
	margin-top: auto;
	color: #41636e;
	text-decoration: underline;
	font-size: 10px;
	cursor: pointer;
}
