app-tabs(
  *ngIf="tabSettings.buttons.length",
  [settings]="tabSettings",
  [(selected)]="activeTabId"
)
.content 
  app-loading.loading-bar(*ngIf="isLoading | async")
  app-portal-aat-portal(*ngIf="activeTabId === 'portal'")
  app-portal-aat-pictures(*ngIf="activeTabId === 'pictures'")  
